{
	"useHttps": false,
	"useHttp": true,
	"jwtSecret": "test",
	"sslCert": {
		"key": "(...)/privkey.pem",
		"cert": "(...)/fullchain.pem"
	},
	"schoolName": "exampleName",
	"schoolDomain": "example.webuntis.com"
}
