* {
	margin: 0;
	padding: 0;
	font-size: 1vmax;
}
body.refreshing .refresher {
	transform: translate3d(0, 150%, 0) scale(1);
	z-index: 1;
	visibility: visible;
}
.refresher {
	pointer-events: none;
	--refresh-width: 55px;
	background: #fff;
	width: var(--refresh-width);
	height: var(--refresh-width);
	border-radius: 50%;
	position: absolute;
	left: calc(50% - var(--refresh-width) / 2);
	padding: 8px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
		0 3px 1px -2px rgba(0, 0, 0, 0.2);
	transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
}

.tag {
	display: flex;
	height: 100vh;
	width: 18vw;
	flex-direction: column;
	justify-self: flex-start;
}

#stunden {
	width: 10vw;
}

.reihe {
	display: flex;
	height: 16.6666666vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*border-left-style: solid;
    border-bottom-style: solid;*/
	border-style: solid;
	border-color: black;
	border-width: 1px;
	flex-wrap: nowrap;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

#variablerInhalt {
	height: 100vh;
	width: 90vw;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}
