* {
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
	color: #bebebe;
	font-family: arial, serif;
	background-image: url('/icons/background.png');
	background-size: cover;
	background-position: center;
	background-color: #121212;
}
ul {
	margin-left: 25vw;
	margin-right: 25vw;
	width: 50vw;
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1a1a1a;
	border-radius: 2vh;
	padding: 2%;
}
li {
	width: 30vw;
}
