body,
html {
	margin: 0;
	padding: 0;
	font-size: 1vmax;
}
body {
	color: #bebebe;
	text-align: center;
	font-family: arial;
	background-image: url('/icons/background.png');
	background-size: cover;
	background-position: center;
	background-color: #121212;
	background-color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	overscroll-behavior: none;
}
section {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #1a1a1a;
	padding: 2%;
	border-radius: 2vh;
	margin-top: 2vh;
	width: 80vw;
	justify-content: center;
}

section > * {
	flex-basis: 100%;
}

section > button {
	flex-wrap: nowrap;
	flex-basis: 30%;
	background-color: #121212;
	border: none;
	border-radius: 1vh;
	color: #bebebe;
	font-weight: bold;
	padding: 1.5% 1.5% 1.5% 1.5%;
	margin: 0 1.5%;
	min-width: fit-content;
}

section > button:hover {
	background-color: #bb86fc;
	color: #121212;
}
section > button:active {
	background-color: #bebebe;
	color: #121212;
}

#backButton {
	position: absolute;
	display: inline;
	top: 6vh;
	left: 11vw;
	border-radius: 1px;
	min-width: fit-content;
	width: 7vw;
	height: 4vh;
	padding: 0;
}
table {
	flex-basis: 70%;
}

h3 {
	font-size: 1.5em;
	font-weight: bold;
}
h4 {
	font-size: 1.4em;
	font-weight: bold;
}
