body,
html {
	margin: 0;
	padding: 0;
	font-size: 1vmax;
}
body {
	color: #bebebe;
	text-align: center;
	font-family: arial, serif;
	background-image: url('/images/background.png');
	background-size: auto;
	background-position: center;
	background-color: #121212;
}

h5 {
	color: #bebebe;
	font-size: 50px;
	margin: 0 0 20px 0;
}

form {
	width: 100vw;
	height: 95vh;
	display: flex;
	justify-content: center;
}

[hidden] {
	display: none !important;
}

button {
	background-color: #121212;
	border: none;
	border-radius: 2vh;
	color: #bebebe;
	padding: 1.5% 1.5% 1.5% 1.5%;
	font-weight: bold;
}

button:hover {
	background-color: #bb86fc;
	color: #121212;
}

button:disabled,
button[disabled] {
	background-color: #bebebe;
	color: #121212;
}

input {
	background-color: #1f1f1f;
	border-radius: 4px;
	width: 25vw;
	border: none;
	padding: 1.5%;
	color: #ffffff;
}

label {
	font-size: 1.5em;
	font-weight: bold;
}

select {
	width: 5vw;
	background-color: #121212;
	border-radius: 4px;
	border: none;
	color: #bebebe;
	padding: 1.5%;
}

.stage {
	background-color: #1a1a1a;
	padding: 2%;
	border-radius: 2vh;
	height: 70vh;
	margin: 15vh 10vw;
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.stage > * {
	width: 40vw;
}
#stage2 {
	overflow-x: scroll;
	justify-content: space-between;
}
#stage2 > label {
	margin-top: 3vh;
}
.backButton {
	position: absolute;
	display: inline;
	top: 20vh;
	left: 15vw;
	border-radius: 1px;
	width: 7vw;
	height: 4vh;
	padding: 0;
}
#videoStream {
	width: 80vw;
	height: 60vh;
}
