body,
html {
	margin: 0;
	padding: 0;
}
body {
	color: #bebebe;
	text-align: center;
	font-family: arial;
	background-image: url('/icons/background.png');
	background-size: cover;
	background-position: center;
}

h5 {
	color: #bebebe;
	font-size: 50px;
	margin: 0px 0px 20px 0px;
}

form {
	width: 100vw;
	height: 100vh;
}
.stage {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

[hidden] {
	display: none !important;
}
