* {
	margin: 0;
	padding: 0;
	font-size: 1vmax;
}

body.refreshing .refresher {
	transform: translate3d(0, 150%, 0) scale(1);
	z-index: 1;
	visibility: visible;
}
.refresher {
	pointer-events: none;
	--refresh-width: 12vw;
	background: #121212;
	width: var(--refresh-width);
	height: var(--refresh-width);
	border-radius: 50%;
	position: absolute;
	left: calc(50% - var(--refresh-width) / 2);
	padding: 8px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
		0 3px 1px -2px rgba(0, 0, 0, 0.2);
	transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	color: #cf6679;
}
@keyframes spinner {
	0% {
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}
.refresher::before {
	animation: 1.5s linear infinite spinner;
	animation-play-state: inherit;
	border-color: #1a1a1a;
	border-style: solid;
	border-width: 1vw;
	border-bottom-color: #cf6679;
	border-radius: 50%;
	content: '';
	height: var(--refresh-width);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: var(--refresh-width);
	will-change: transform;
}

.day {
	display: flex;
	height: 100vh;
	width: 18vw;
	flex-direction: column;
	justify-self: flex-start;
	color: #ffffff;
}



#periods {
	width: 10vw;
	color: #fff;
	font-size: 75%;
}

.row {
	display: flex;
	height: 16.6666666vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*border-left-style: solid;
    border-bottom-style: solid;*/
	border-style: solid;
	border-color: #121212;
	border-width: 1%;
	border-radius: 5%;
	flex-wrap: nowrap;
	background-color: #1d1d1d;
	font-size: 3vw;
}


body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	overscroll-behavior: contain;
	background-color: #121212;
	color: #bebebe;
	font-family: sans-serif;
}
.offlineMessage {
	visibility: hidden;
	position: absolute;
	width: 100vw;
	height: 5vh;
	background-color: #cf6679;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.2vmax;
}
body.offline .offlineMessage {
	visibility: visible;
}
#variableContent {
	height: 100vh;
	width: 90vw;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

.stunde  {
	color: #000;
	font-weight: bolder;
}

footer {

}

.toggle {
	text-decoration: none;
	font-size: 4em;
	color: #BB86FC;
	-webkit-transition: all 0.15s ease-out 0;
	-moz-transition: all 0.15s ease-out 0;
	transition: all 0.45s ease-out 0;
	position: fixed;
	bottom: 2%;
	right: 2%;
	z-index: 1;
	cursor: pointer;
	padding: 0.5% 1.25% 0.5% 1.25%;
	background-color: #1d1d1d;
	border: 0.3vh solid #BB86FC;
	border-radius: 50%;
}

.sidebar {
	bottom: 11%;
    position: fixed;
    right: -190px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    width: 8rem;
    padding: 1.5em;
}

.sidebar a {
    color: white;
    font-family: Arial;
    font-size: 1.6em;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    line-height: 450%;
	background-color: #121212;
	padding: 0.5em 0em 0.5em 0.5em;
	border-radius: 20vh;
}

.sidebar a:hover {
    color: gray;
}

#slide + .container .sidebar {
	right: -20.5vw;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
}


#slide:checked + .container .sidebar {
	-webkit-transform: translate(-26vw, 0);
	-moz-transform: translate(-26vw, 0);
	transition: translate(-26vw, 0);
 }
#slide:checked + .container .toggle {
    right: 2%;
 }


#slide {
	display: none;
}

.sidebar label {
	background-color: #1a1a1a;
	font-size: larger;
	padding: 16%;
	margin-left: 0.5em;
	border-radius: 50%;
	border: solid 1px #121212;
}
