* {
	margin: 0;
	padding: 0;
	font-size: 1vmax;
}

body.refreshing .refresher {
	transform: translate3d(0, 150%, 0) scale(1);
	z-index: 5;
	visibility: visible;
}
.refresher {
	pointer-events: none;
	--refresh-width: 12vw;
	background: #121212;
	width: var(--refresh-width);
	height: var(--refresh-width);
	border-radius: 50%;
	position: absolute;
	left: calc(50% - var(--refresh-width) / 2);
	padding: 8px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
		0 3px 1px -2px rgba(0, 0, 0, 0.2);
	transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	color: #cf6679;
}
@keyframes spinner {
	0% {
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}
.refresher::before {
	animation: 1.5s linear infinite spinner;
	animation-play-state: inherit;
	border-color: #1a1a1a;
	border-style: solid;
	border-width: 1vw;
	border-bottom-color: #cf6679;
	border-radius: 50%;
	content: '';
	height: var(--refresh-width);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: var(--refresh-width);
	will-change: transform;
}

.day {
	display: flex;
	height: 100vh;
	width: 18vw;
	flex-direction: column;
	justify-self: flex-start;
	color: #ffffff;
}

#periods {
	width: 10vw;
	color: #fff;
	font-size: 75%;
}

.row {
	display: flex;
	height: 16.6666666vh;
	background-color: #1d1d1d;
	font-size: 3vw;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	position: relative;
}
.row.isCurrentDay{
	text-decoration: underline;
	font-weight: bold;
}
body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	overscroll-behavior: none;
	overflow: hidden;
	touch-action: manipulation;
	position: fixed;
	background-color: #121212;
	color: #bebebe;
	font-family: sans-serif;
}
.errorMessage {
	visibility: hidden;
	position: absolute;
	width: 100vw;
	height: 5vh;
	background-color: #cf6679;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.2vmax;
}
body.error .errorMessage {
	visibility: visible;
}
#variableContent {
	height: 100vh;
	width: 90vw;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

.stunde {
	color: #000;
	height: 16.6666666vh;
	width: 100%;
	font-weight: bolder;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-style: solid;
	border-color: #121212;
	border-width: 1px;
	border-radius: 5%;
	flex-wrap: nowrap;
	cursor: pointer;
}
.stunde p {
	z-index: 1;
}
.cancelled {
	text-decoration: line-through;
	color: #cf6679;
}
.irregular {
	color: #cf6679;
}

#floatingActionButton {
	position: fixed;
	bottom: 2vh;
	right: 1vw;
	z-index: 1;
	background-color: #bb86fc;
}
.infos {
	display: none;
	z-index: 3;
 }
@keyframes popout {
	from{
		width: 80vw;
		height: 80vh;
		position: fixed;
		top: 10%;
		left: 10%;
		transform: scale(0.1);
		display: none;
	}
	to{
		height: 80vh;
		width: 80vw;
		top: 10%;
		left: 10%;
		position: fixed;
	}
}
.infosDisplay {
	animation: popout 250ms;
	transform: scale(1);
	position: fixed;
	z-index: 2;
	height: 80vh;
	width: 80vw;
	top: 10%;
	left: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.infos p {
	text-align: left;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.infoButton {
	position: absolute;
	top: 1vh;
	right: 1vw;
}

.progressBar {
	position: absolute;
	background-color: #525252;
	color: #d3d3d3;
	z-index: 2;
}
.progressContainer {
	height: 100%;
	position: absolute;
	overflow: hidden;
	width: 100%;
	top: 0;
}